{% load static %}


<!doctype html>
<html class="no-js" lang="">

<head>
    {% include 'partial/head.html' %}
</head>
    

<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
        <!-- Header Menu Area Start Here -->
        
        {% include 'partial/header.html' %}

        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
           
            {% include 'partial/aside.html' %}

            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Students</h3>
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li>All Students</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Student Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>All Students Data</h3>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">...</a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-times text-orange-red"></i>Close</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                </div>
                            </div>
                        </div>
                        <form class="mg-b-20">
                            <div class="row gutters-8">
                                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Roll ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Name ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Class ..." class="form-control">
                                </div>
                                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input checkAll">
                                                <label class="form-check-label">Matricule</label>
                                            </div>
                                        </th>
                                        <th>Photo</th>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Genre</th>
                                        <th>Niveau</th>
                                        <th>Salle</th>
                                        <!-- <th>Parents</th> -->
                                        <!-- <th>Address</th> -->
                                        <!-- <th>Date Of Birth</th> -->
                                        <!-- <th>Phone</th> -->
                                        <th>E-mail</th>
                                        {% comment %} <th>Action</th> {% endcomment %}
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for etudiant in etudiants %}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input">
                                                <label class="form-check-label">{{etudiant.matricule}}</label>
                                            </div>
                                        </td>
                                        <td>
                                            {% if student.photo %}
                                                <img src="{{ student.photo.url }}" alt="Photo de l'étudiant {{ student.nom }}" style="width: 135px; height: 120px; border-radius: 15px; margin: 10px; object-fit: cover; margin-top: 0px; margin-bottom: 15px;" />
                                            {% else %}
                                                <img src="" alt ="student {{student.nom}}" style = "width : 135px; height : 120px; border-radius: 15px; margin : 10px; object-fit: cover; margin-top: 0px; margin-bottom: 15px;"/>
                                            {% endif %}
                                        </td>
                                        <td>{{etudiant.nom}}</td>
                                        <td>{{etudiant.prenom}}</td>
                                        <td>{{etudiant.genre}}</td>
                                        <td>{{etudiant.niveau}}</td>
                                        <td>{{etudiant.salleDeClasse}}</td>
                                        <td>{{etudiant.mail}}</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <span class="flaticon-more-button-of-three-dots"></span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="{% url 'supprimer_student' etudiant.matricule %}" onclick = "return confirm('Voulez-vous vraiment supprimer cet étudiant?')"><i
                                                            class="fas fa-times text-orange-red"></i>Delete</a>
                                                    {% if etudiant.matricule %}
                                                        <a class="dropdown-item" href="{% url 'modifier_student' etudiant.matricule %}"><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                    {% else %}
                                                        <span style="color: red;">Matricule manquant ou invalide</span>
                                                    {% endif %}
                                                    <a class="dropdown-item" href="#"><i
                                                            class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                    <a class="dropdown-item" href="{% url 'students-detail' %}"><i class="fas fa-eye" title = "voir plus"></i>voir plus</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Student Table Area End Here -->
                <footer class="footer-wrap-layout1">
                    <div class="copyright">© Copyrights <a href="#">akkhor</a> 2019. All rights reserved. Designed by <a
                            href="#">PsdBosS</a></div>
                </footer>
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <!-- jquery-->
    <script src="{% static 'secretaire/js/jquery-3.3.1.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'secretaire/js/plugins.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'secretaire/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'secretaire/js/bootstrap.min.js' %}"></script>
    <!-- Scroll Up Js -->
    <script src="{% static 'secretaire/js/jquery.scrollUp.min.js' %}"></script>
    <!-- Data Table Js -->
    <script src="{% static 'secretaire/js/jquery.dataTables.min.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'secretaire/js/main.js' %}"></script>

</body>

</html>