{% load static %}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AKKHOR | Add Class</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/normalize.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/main.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/bootstrap.min.css' %}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/all.min.css' %}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/fonts/flaticon.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/animate.min.css' %}">
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/select2.min.css' %}">
    <!-- Date Picker CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/datepicker.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/style.css' %}">
    <!-- Modernize js -->
    <script src="{% static 'secretaire/js/modernizr-3.6.0.min.js' %}"></script>
</head>

<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
         <!-- Header Menu Area Start Here -->
        
         {% include 'partial/header.html' %}

        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
           
            {% include 'partial/aside.html' %}

            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Evaluation</h3>
                    <ul>
                        <li>
                            <a href="{% url 'all_evaluation' %}">All Evaluation</a>
                        </li>
                        <li>individuelle evaluation</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Add Class Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Liste de note pour la classe : {{ classe.classe }} {{ salle.nom }}</h3>
                            </div>
                           <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" 
                                data-toggle="dropdown" aria-expanded="false">...</a>
                            </div>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <hr>
                        
                            <div class="table-responsive">
                                <table class="table display data-table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="form-check">
                                                    <label class="form-check-label">Matricule</label>
                                                </div>
                                            </th>
                                            <th> Nom & Prenom </th>
                                            <th> Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for inscrit in inscrits %}
                                            <tr>
                                                <!-- Matricule -->
                                                <td>
                                                    {{inscrit.etudiant.matricule}}
                                                </td>
                                                <!-- Nom & Prénom -->
                                                <td>
                                                    {{ inscrit.etudiant.nom }} {{ inscrit.etudiant.prenom }}
                                                </td>
                                                
                                                <!-- Note -->
                                                <td>
                                                    <a href="{% url 'ajout_note_individuelle' inscrit.etudiant.id %}" type="button" class="btn btn-warning" style ="width: 100px; height: 100%; margin: 5px; padding: 5px; border-radius: 5px; font-size: 12px;">Nouvelle Note</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Add Class Area End Here -->
                {% include 'partial/copyright.html' %}
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <!-- jquery-->
    <script src="{% static 'secretaire/js/jquery-3.3.1.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'secretaire/js/plugins.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'secretaire/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'secretaire/js/bootstrap.min.js' %}"></script>
    <!-- Select 2 Js -->
    <script src="{% static 'secretaire/js/select2.min.js' %}"></script>
    <!-- Date Picker Js -->
    <script src="{% static 'secretaire/js/datepicker.min.js' %}"></script>
    <!-- Scroll Up Js -->
    <script src="{% static 'secretaire/js/jquery.scrollUp.min.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'secretaire/js/main.js' %}"></script>

</body>

</html>